/*Sidebar*/
.icon{
    fill: #ffff;
    width: 50px;
}

html{
    background-color: green;
}

.icon-container {
    display: flex;
    gap: 10px;
    padding-left: 10px;
}

.sidenav {
    display: flex;
    flex-direction: column;
    background-color: #84cc16;
    width: 40vh;
    gap: 50px;
}

.searchbar {
    display: flex;
    align-items: center;
}

/* Top Bar */
.topvar {
    display: flex;
    justify-content: space-around;
}

/* Style the search box inside the navigation bar */
input[type=text] {
    border: none;
    font-size: 17px;
    border-radius: 8px;
    padding: 10px;
    height: 10px;
    width: 50vh;
}

.profile-img-container{
    display: inline-block; 
    position: relative; 
    width: 10vh; 
    height: 10vh; 
    overflow: hidden;
    border-radius: 50%;
}

.profile-pic {
    width: auto; 
    height: 100%; 
    margin-left: -10px;
}