/*Sidebar*/
.icon{
    fill: #ffff;
    width: 50px;
}

html{
    background-color: green;
}

.icon-container {
    display: flex;
    gap: 10px;
    padding-left: 10px;
}

.sidenav {
    display: flex;
    flex-direction: column;
    background-color: #84cc16;
    width: 40vh;
    gap: 50px;
}

.searchbar {
    display: flex;
    align-items: center;
}

/* Top Bar */
.topvar {
    display: flex;
    justify-content: space-around;
    background-color: whitesmoke;
}

/* Style the search box inside the navigation bar */
input[type=text] {
    border: none;
    font-size: 17px;
    border-radius: 8px;
    padding: 10px;
    height: 10px;
    width: 50vh;
    background-color: lightgrey;
    color: whitesmoke;
}

.profile-img-container{
    display: inline-block; 
    position: relative; 
    width: 10vh; 
    height: 10vh; 
    overflow: hidden;
    border-radius: 50%;
}

.profile-pic {
    width: auto; 
    height: 100%; 
    margin-left: -10px;
}

/*Welcome Bar*/
.welcomebar {
    display: flex;
    background-color: whitesmoke;
    justify-content: space-around;
    padding: 16px;
}

.user-container {
    display: flex;
}

.user-text-container {
    display: flex;
    flex-direction: column;
    gap: 0;
}

#user-text {
    margin: 0;
}

.welcome-buttons {
    display: flex;
    margin: 5px;
    gap: 8px;
}

#btn {
    background-color: blue;
    border-radius: 24px;
    color: whitesmoke;
    border: none;
    text-align: center;
    padding: 20px;
}


.card-container{
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    border-left: 8px solid #84cc16;
    width: 50vh;
}

.icon{
    
}


.icons {
    display: flex;
    justify-content: right;
}